name: Spring boot docker image CI/CD

on:
  push:
    branches: [ main ]

env:
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: 폴더 정리
      run: rm -rf kosa-devops-step2

    - name: 소스 복사
      run: git clone https://github.com/hanna0925/kosa-devops-step2

    - name: gradlew 파일 실행 권한 설정
      run: |
        cd kosa-devops-step2
        chmod +x gradlew

    - name: Test with gradle
      run: |
        cd kosa-devops-step2
        ./gradlew --info test

    - name: Spring boot  실행 파일 생성 
      run: |
        cd kosa-devops-step2
        ./gradlew bootJar

    - name: docker image 생성
      run: |
        cd kosa-devops-step2
        docker build -t ${{env.DOCKER_USERNAME}}/devops_step2:latest .

    - name: docker login
      uses: docker/login-action@v1
      with:
        username: ${{env.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}

    - name: docker image 허브에 저장
      run: docker push ${{env.DOCKER_USERNAME}}/devops_step2:latest

  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:

    - name: 운영서버로 파일 복사 및 실행
      run: |
        cd kosa-devops-step2
        scp ./docker-compose_nginx.yml aws-master:~
        scp ./nginx/nginx.conf      aws-master:~/nginx/nginx.conf
        ssh aws-master ./run.sh > /dev/null


